body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff7d1;
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
    color: #d4a017;
}

#searchInput{
    width: 45%;
    padding: 12px;
    margin: 30px auto;
    display: block;
    border: 2px solid #f4c542;
    font-size: 16px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1%;
}

.mes-card{
    background: white;
    width: 250px;
    height: 250px;
    border: 5px solid #f4c542;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.mes-card img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}